<div class="row g-2">
    <div class="col-12">
        {{ form_row(form.title) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.riskLevel) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.speedFactor) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.respawnsIn) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.spawnsEvery) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.reachesBaseIn) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.hasShield) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.respawnImmediatelyAfterDeath) }}
    </div>
</div>
